    body{
      background-color: black
    }
     div{
        margin-top: 150px;
        margin-left: 500px;
        border: 2px solid rgba(255, 255, 255, 0.152);
        width: 250px;
        padding-left: 30px;
        padding-top: 15px;
         box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 0.659);   
         border-radius: 25px;   
         background-color: rgb(42, 45, 55);  
     }
     .label{
        font-size: 18px;
        font-weight: 600;
        margin-left: 20px;
        color: white;
     }

     .input{
        height: 30px;
        width: 190px;
        padding-left: 20px;
        font-size: 15px;
        margin-top: 5px;
        border-radius: 30px;
        border: 2px solid white;
        font-weight: 600;
     }
     .button{
      height: 30px;
      width: 50px;
      border-radius: 30px;
     }
     #addbutton{
      background-color: red;
      color: white;
      font-weight: 600;
      border: rgba(0, 0, 0, 0);
      cursor: pointer;
     }
     #subbutton{
      background-color: rgb(255, 0, 234);
      color: white;
      font-weight: 600;
      border: rgba(0, 0, 0, 0);
      cursor: pointer;
     }
     #mulbutton{
      background-color: rgb(21, 145, 9);
      color: white;
      font-weight: 600;
      border: rgba(0, 0, 0, 0);
      cursor: pointer;
     }
      #divbutton{
      background-color: rgb(153, 17, 17);
      color: white;
      font-weight: 600;
      border: rgba(0, 0, 0, 0);
      cursor: pointer;
     }
     #final{
      color: white;
      margin-left: 10px;
      font-weight: 600;
      text-decoration: underline;
     }
     #output{
      color: white;
      margin-left: 30px;
     }